@using DataAccess
@using Core.Models
@using System.Text.Json


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Post App - create user</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none
        }

        .border {
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
            
        <k-layout :page-title="actualSite">
            <v-layout justify-center>
                <v-flex xs10 md5 class="mt-5">
                   <v-form class="border pa-5 white" href="signInForm">
                       <h2>Create user</h2>
                        <v-text-field label="Login" prepend-icon="mdi-account" v-model="userRegisterDto.UserName"></v-text-field>
                        <v-text-field label="E-mail" prepend-icon="mdi-account" v-model="userRegisterDto.Email"></v-text-field>
                        <v-row class="pa-3">
                            <v-avatar size=48 class="mr-4 my-1">
                                <v-img :src=userRegisterDto.AvatarLink alt="'avatar'"></v-img>
                            </v-avatar>
                            
                            <v-select v-model="avatarSelection"
                                      :hint="`${avatarSelection.avatar}`"
                                      :items="items"
                                      item-text="avatar"
                                      item-value="${avatarSelection.abbr}"
                                      label="Select"
                                      persistent-hint
                                      return-object
                                      single-linee
                                      @@change="onChange($event)">

                            </v-select>
                        </v-row>
                        <v-text-field label="Password" :type="hidePassword ? 'password' : 'text'" prepend-icon="mdi-key"
                                      :append-icon="hidePassword ? 'mdi-eye-off' : 'mdi-eye'" v-model="userRegisterDto.Password"
                                      @@click:append="() => (hidePassword = !hidePassword)"></v-text-field>
                        <v-text-field label="Repeat password" :type="hidePassword ? 'password' : 'text'" prepend-icon="mdi-key"
                                      :append-icon="hidePassword ? 'mdi-eye-off' : 'mdi-eye'" v-model="reapetedPassword"
                                      @@click:append="() => (hidePassword = !hidePassword)"></v-text-field>
                        <v-layout class="justify-space-between">
                            <v-btn :href="signInPage" class="green darken-4 white--text text-capitalize">Back</v-btn>

                            <v-dialog width="600px">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-bind="attrs" v-on="on" class="green darken-4 white--text text-capitalize" width="125px" slot="activator" @@click="create">
                                        Create
                                    </v-btn>
                                </template>
                                <v-card v-if="popUpValue == 'validated'">
                                    <v-container text-center class="display-1 light-green darken-1 white--text">{{messageValue}}</v-container>
                                </v-card>
                                <v-card v-if="popUpValue == 'not validated'">
                                    <v-container text-center class="display-1 red accent-2 white--text">{{messageValue}}</v-container>
                                </v-card>
                            </v-dialog>
                        </v-layout>
                                      

                   </v-form>
                </v-flex>
            </v-layout>
        </k-layout>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/kNavTemplate.js"></script>
    <script>

 
        const app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                hidePassword: true,
                actualSite: "Create user",
                userRegisterDto: {
                    UserName: "",
                    Email: "",
                    Password: "",
                    AvatarLink: "/avatars/avatar-default.png"
                },
                reapetedPassword: "",
                avatarSelection: { avatar: "default avatar", avatarLink: "/avatars/avatar-default.png" },
                items: [
                    { avatar: "default avatar", avatarLink: "/avatars/avatar-default.png" },
                    { avatar: "avatar1", avatarLink: "/avatars/avatar-1.png" },
                    { avatar: "avatar2", avatarLink: "/avatars/avatar-2.png" },
                    { avatar: "avatar3", avatarLink: "/avatars/avatar-3.png" },
                ],
                popUpValue: "",
                messageValue: "",
               
            },
            methods:{
                async create(){
                    if (this.userRegisterDto.Password != this.reapetedPassword) {
                        this.popUpValue = "not validated";
                        this.messageValue = "PASSWORD AND REPEAT PASSWORD FIELD MUST BE THE SAME";
                        return
                    }

                    try {
                        var response = await axios.post(`${window.location.origin}/Users/Register`, this.userRegisterDto);
                        this.popUpValue = "validated";
                        this.messageValue = "USER CREATED SUCCESFULLY";
                        setTimeout(function () {
                            window.location = `${window.location.origin}/Home/Index`;
                        }, 500);
                    } catch (error) {
                        this.popUpValue = "not validated";
                        console.log(error.response.data)
                        if (error.response.data == "user exist") 
                        {
                            this.messageValue = "THIS USER EXISTS, PLEASE CHOOSE ANOTHER USER NAME";
                            return
                        }
                        else if (error.response.data == "bad email")
                        {
                            this.messageValue = "INCORRECT E-MAIL";
                            return
                        }
                        this.messageValue = "PASSWORD MUST TO CONTAIN AT LEAST ONE UPPERCASE LETTER, ONE LOWERCASE LETTER, ONE NUMBER AND ONE SPECIAL CHARACTER";
                        
                    };
                },
                onChange(e) {
                    this.userRegisterDto.AvatarLink = e.avatarLink;
                }
            },
            computed: {
                signInPage() {
                    return window.location.origin + "/Users/SignIn"
                }
            },

        });
    </script>
</body>
</html>