@using DataAccess
@using Core.Models
@using System.Text.Json
@model IEnumerable<UserModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
            
        <k-layout>
            <v-container fluid>
                    <v-row>
                        <h1>This is users page</h1>
                    </v-row>
                </v-container class="my-2">
                 
           
                <v-list width="100%">
                    <v-list-item class="ma-3" v-for="(user, index) in userModels" :accesskey="index">
                        <v-layout row wrap class="my-1">
                            <v-flex xs12 md4 class="pa-1">
                                <v-card>
                                   {{user.name}}
                                </v-card>
                            </v-flex>
                            <v-flex xs6 md4 class="pa-1">
                                <v-card>
                                   {{user.cakeDay}}
                                </v-card>
                            </v-flex>
                            <v-flex xs6 md4 class="pa-1">
                                <v-card >
                                   {{user.email}}
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-list-item>
                </v-list>
        </k-layout>
            <v-main class="ma-5" width="100%">

               
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/kapp.js"></script>
    <script>

        
        const model = @Html.Raw(JsonSerializer.Serialize(Model, new JsonSerializerOptions(){
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        }))
        const app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                text: "Hello World",
                userModels: model,
                drawler: false,
                actualSite: "Users",
                links: [
                    { icon: 'mdi-home', text: 'Home', controller: 'Home' },
                    { icon: 'mdi-post-outline', text: 'Blog Posts', controller: 'BlogPosts' },
                    { icon: 'mdi-account-group', text: 'Users', controller: 'Users' },
                    { icon: 'mdi-email', text: 'Contact', controller: 'Contact' },
                ]
            },
            methods:{
                helloWorld(){
                    console.log(this.text);
                    
                }
            },
            //async mounted() {
            //    const response = await axios.get("https://localhost:44355/DataTable/GetBlogModels");
            //    console.log(response.data);
            //    setTimeout(() => this.blogModels = response.data, 3000)
            //}
        });
    </script>
</body>
</html>