@using DataAccess
@using Core.Models
@using System.Text.Json
@model IEnumerable<UserModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <v-app>

            <v-app-bar app color="light-green darken-1 pa-0" height=75px>

                <v-app-bar-nav-icon class="white--text" @@click="drawler = !drawler"></v-app-bar-nav-icon>
                <v-toolbar-title>
                    <h3 class="font-weight-bold mt-3 pt-2 white--text">BlogPost App</h3>
                    <p class="white--text">{{actualSite}}</p>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn class="green darken-2">
                    <span class="white--text">Sign In</span>
                    <v-icon right class="white--text">mdi-login</v-icon>
                </v-btn>
            </v-app-bar>

            <v-navigation-drawer v-model="drawler" app class="light-green darken-1">
                <v-container>
                    <v-row justify="end">
                        <v-btn fab small @@click="drawler = !drawler" class="green darken-2 white--text">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-row>
                   @* <v-list>
                        <v-list-tile v-for="link in links" :accesskey="link.text">
                            <v-btn class="green darken-2 white--text ml-2 mb-2" width="200px" >
                                <v-list-tile-action>
                                    <v-icon class="white--text">{{link.icon}}</v-icon>
                                </v-list-tile-action >
                                <v-list-tile-content >
                                    <a class="nav-link text-dark" asp-area="" asp-controller={{link.controller}} asp-action="Index">
                                        <v-list-tile-title class="white--text">
                                        {{link.text}}
                                        </v-list-tile-title>
                                    </a>
                            </v-list-tile-content>
                            </v-btn>
                        </v-list-tile>
                    </v-list>*@
                    <v-row>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                            <v-btn class="green darken-2 white--text ml-2 mb-2" width="200px">
                                <v-icon>mdi-home</v-icon>
                                Home page
                            </v-btn>
                        </a>
                    </v-row>
                    <v-row>
                        <a class="nav-link text-dark" asp-area="" asp-controller="BlogPosts" asp-action="Index">
                            <v-btn class="green darken-2 white--text ml-2 mb-2" width="200px">
                                <v-icon>mdi-post-outline</v-icon>
                                BlogPosts page
                            </v-btn>
                        </a>
                    </v-row>
                    <v-row>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">
                            <v-btn class="green darken-2 white--text ml-2 mb-2" width="200px">
                                <v-icon>mdi-account-group</v-icon>
                                Users page
                            </v-btn>
                        </a>
                    </v-row>
                    <v-row>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">
                            <v-btn class="green darken-2 white--text ml-2 mb-2" width="200px">
                                <v-icon>mdi-email</v-icon>
                                Contact pege
                            </v-btn>
                        </a>
                    </v-row>
                </v-container>
            </v-navigation-drawer>
            
            
            

            <!-- Sizes your content based upon application components -->
            <v-main class="ma-5" width="100%">

                <!-- Provides the application the proper gutter -->
                <v-container fluid>
                    <v-row>
                        <h1>This is users page</h1>
                    </v-row>
                </v-container class="my-2">
                 
           
                <v-list width="100%">
                    <v-list-item class="ma-3" v-for="(user, index) in userModels" :accesskey="index">
                        <v-layout row wrap class="my-1">
                            <v-flex xs12 md4 class="pa-1">
                                <v-card>
                                   {{user.name}}
                                </v-card>
                            </v-flex>
                            <v-flex xs6 md4 class="pa-1">
                                <v-card>
                                   {{user.cakeDay}}
                                </v-card>
                            </v-flex>
                            <v-flex xs6 md4 class="pa-1">
                                <v-card >
                                   {{user.email}}
                                </v-card>
                            </v-flex>
                        </v-layout>
                    </v-list-item>
                </v-list>
              

                <v-container>

                </v-container>
            </v-main>

            <v-footer app>
                <!-- -->
            </v-footer>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/navbar.js"></script>
    <script>

        
        const model = @Html.Raw(JsonSerializer.Serialize(Model, new JsonSerializerOptions(){
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        }))
        const app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                text: "Hello World",
                userModels: model,
                drawler: false,
                actualSite: "Users",
                links: [
                    { icon: 'mdi-home', text: 'Home', controller: 'Home' },
                    { icon: 'mdi-post-outline', text: 'Blog Posts', controller: 'BlogPosts' },
                    { icon: 'mdi-account-group', text: 'Users', controller: 'Users' },
                    { icon: 'mdi-email', text: 'Contact', controller: 'Contact' },
                ]
            },
            methods:{
                helloWorld(){
                    console.log(this.text);
                    
                }
            },
            //async mounted() {
            //    const response = await axios.get("https://localhost:44355/DataTable/GetBlogModels");
            //    console.log(response.data);
            //    setTimeout(() => this.blogModels = response.data, 3000)
            //}
        });
    </script>
</body>
</html>