@using DataAccess
@using Core.Models
@using System.Text.Json
@model IQueryable<UserDto>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
            
        <k-layout class="">
            <v-container fluid class="my-2 mx-5">
                <v-row class="my-4 ml-5">
                    <h1>Registered users</h1>
                </v-row>
                <v-card flat class="mt-1 mx-5 pa-5" v-for="user in userModels" :key="user.userName">
                    <v-layout row wrap>
                        <v-flex xs6 sm4 md2 text-center>
                            <v-avatar size=48>
                                <v-img :src=user.avatarLink></v-img>
                            </v-avatar>
                        </v-flex>
                        <v-flex xs6 sm8 md6 class="pa-1">
                            <div class="caption-top grey--text">User name</div>
                            <div> {{user.userName}}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md2>
                            <div class="caption-top grey--text">User e-mail</div>
                            <div> {{user.email}}</div>
                        </v-flex>
                        <v-flex xs6 sm4 md2>
                            <div class="caption-top grey--text">Member since</div>
                            <div> {{user.createdDate}}</div>
                        </v-flex>

                    </v-layout>
                </v-card>
            </v-container>

        </k-layout>



    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/kNavTemplate.js"></script>
    <script>

        
        const model = @Html.Raw(JsonSerializer.Serialize(Model, new JsonSerializerOptions(){
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        }));
        console.log(model);
        const app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                userModels: model,
                actualSite: "Users",
                displayTest: "display-3"
            },
            methods:{
  
            },
        });
    </script>
</body>
</html>